// Rename this file to secrets.h and add your secret details.

#ifndef __SECRETS_H__
#define __SECRETS_H__

// Network setup
#define WIFI_SSID "myssid"
#define WIFI_PASSWORD "supersecretpassword"

#define TFNSW_API_KEY "myapikey"

#endif